footer {
    height: 350px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 360px 1fr;
    grid-template-rows: 33.33% 33.33% 33.34%;
    background-color: $dmco;
    @include mquery($small) {
        grid-template-columns: 1fr 320px 1fr;
    }
    .logo-2 {
        grid-area: 1/2/2/3;
        margin-top: 3.9rem;
        margin-left: 4.7rem;
        @include mquery($small) {
            margin-left: 4rem;
        }
    }
    .us {
        grid-area: 2/2/3/3;
        margin-top: 1.6rem;
        display: flex;
        justify-content: space-around;
        .link-f {
            text-decoration: none;
            color: $dmc;
            font-size: 1.16rem;
            font-family: $br;
            font-weight: 600;
            &:hover {
                color: $w;
            }
        }
    }
    .social {
        grid-area: 3/2/4/3;
        margin-top: 1.3rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .icon-facebook {
            @include icons;
        }
        .icon-instagram {
            @include icons;
        }
        .icon-twitter {
            @include icons;
        }
        .icon-pinterest {
            cursor: pointer;
        }
    }
}
