.img-gallery {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    @media screen and (max-width: 650px) {
        min-height: 380px;
        height: 96vw;
        max-height: 700px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .img-milkbottles {
        grid-area: 1/1/2/2;
        width: 100%;
        object-fit: cover;
        height: 100%;
        @media screen and (max-width: 650px) {
            grid-area: 1/1/2/2;
        }
    }
    .img-orange {
        grid-area: 1/2/2/3;
        width: 100%;
        object-fit: cover;
        height: 100%;
        @media screen and (max-width: 650px) {
            grid-area: 1/2/2/3;
        }
    }
    .img-cone {
        grid-area: 1/3/2/4;
        width: 100%;
        object-fit: cover;
        height: 100%;
        @media screen and (max-width: 650px) {
            grid-area: 2/1/3/2;
        }
    }
    .img-sugarcubes {
        grid-area: 1/4/2/5;
        width: 100%;
        object-fit: cover;
        height: 100%;
        @media screen and (max-width: 650px) {
            grid-area: 2/2/3/3;
        }
    }
}
