$sr: hsl(7, 99%, 70%);
$y: hsl(51, 100%, 49%);
$ddc: hsl(167, 40%, 24%);
$db: hsl(198, 62%, 26%);
$dmc: hsl(168, 34%, 41%);
$dmco: hsla(164, 38%, 46%, .64);
$vddb: hsl(212, 27%, 19%);
$vdgb: hsl(213, 9%, 39%);
$dgb: hsl(232, 10%, 55%);
$gb: hsl(210, 4%, 67%);
$gbo: hsl(200, 100%, 71%);
$w: hsl(0, 0%, 100%);
$vvsmall:400px;
$vsmall: 600px;
$small: 650px;
$medium: 780px;
$fr:"Fraunces", serif;
$br: "Barlow", sans-serif;
$scroll: 0px;
// $scrolld: $scroll / 2;
$width: 5vw;
$b: hsl(0, 0%, 0%);
$t:hsla(0, 0%, 0%, 0);